.paragraph {
  margin-top: 15px;
  padding: 0px 15px 0px 15px;
}

/* .paragraph {
  animation: text-appear both;
  animation-timeline: view();
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */
